<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LakesContext"
		connectionString=
			 "metadata=res://*/;

provider=System.Data.SqlClient;
provider connection string=&quot;
Data Source=GALDAVA-PC\\SQLEXPRESS;
Initial Catalog=Earth;
Integrated Security=True;
Pooling=False;
MultipleActiveResultSets=True&quot;"
		providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>